
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #222;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 15px;
}

.circle {
    width: 20px;
    height: 20px;

    background-color: white;

    border-radius: 50%;

    animation-name: move;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.circle1 {
    animation-delay: 0s;
}

.circle2 {
    animation-delay: 0.2s;
}

.circle3 {
    animation-delay: 0.4s;
}

@keyframes move {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-25px);
    }
}

